

.navbar {
    background-color: blue;
    font-family: 'Poppins', sans-serif;
    position: sticky;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: white;
}

.navbar-brand:hover {
    color: white;
    text-decoration: none;

}

.navbar-nav .nav-link:hover {
    color: #83764F;
    text-decoration: underline;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.logo-img {
    height: 50px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

/* Start Gallery CSS */
.thumb {
    margin-bottom: 15px;
}

.thumb:last-child {
    margin-bottom: 0;
}

.thumb figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.thumb figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
 /* Start Gallery CSS */
 .thumb {
    margin-bottom: 15px;
}

.thumb:last-child {
    margin-bottom: 0;
}

.thumb figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.thumb figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

#custom-text-link{
font-size: 11pt;
}

#module {
font-size: 1rem;
line-height: 1.5;
}

.card img{
max-height: 500;
}

.read-more, .read-less{
color:#485ae4;
cursor: pointer;
font-weight: 400;
text-transform: lowercase;
font-size: 12pt;
}

.read-less:hover, .read-more:hover{
text-decoration: underline;
}

.btn-more{
width: 200px;
padding: 5px;
border: none;
background: #485ae4;
color: white;
height: 40px;
border-radius: 30px;
font-size: 13pt;
margin-bottom: 0px;
}

.btn-more:hover{
text-decoration: underline;
background-color: blue
}

.blue-title{
color: #485ae4;
}

.potensi img{
    margin-left: 25%;
    max-width: 200px;
    max-height: 200px;
}

/* .potensi{
    justify-content: center;
    align-items: center;
    justify-items: center;
} */

.cards-wrapper {
    display: flex;
    justify-content: center;
  }
.ormas img {
    max-width: 100%;
    max-height: 100%;
  }
.ormas{
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
.ormas.carousel-inner {
    padding: 1em;
  }

  .ormas.carousel-control-prev,
  .ormas.carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
  }
  .carousel .card .img {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }
  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    color: #6A6D78;
    font-size: 1.31rem;
  }

  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }

  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }
